name: CI

on: [pull_request]

env:
  DEVELOPER_DIR: /Applications/Xcode_12.app

jobs:
  ci:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install dependencies
        run: |
          brew install doxygen
          brew install graphviz

      - name: Create google-services.json
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: |
          echo "$GOOGLE_SERVICES_JSON" > SampleApp/SampleApp.Android/Assets/google-services.json

      - name: Build
        run: ./gradlew build pkg
